<h1>Table of Contents:</h1>
<ol>
	<li><a href="#1">Some Javascript Rules</a></li>
	<li><a href="#2">Hello World!</a></li>
	<li><a href="#3">Non Javascript Browsers</a></li>
	<li><a href="#4">Code Placement</a></li>
	<li><a href="#5">Javascript Datatypes</a></li>
	<li><a href="#6">Javascript Operators</a></li>
	<li><a href="#7">Javascript If..Else Statesments</a></li>
</ol>