
<h1>Hello World</h1>
<p>One of the first things you learn in all tutorials is how to write something into the document. Most of the time, you see the <i>Hello World</i> program. To write something into the document, you will use document.write("").</p>
<textarea style="width: 400px; height: 60px; background-color: lightgray;" readonly="true">
<script type="text/javascript">
	document.write("Hello world!");
</script>
</textarea>
<br />

<h3>Produces:</h3>
<div class="showcode">
	Hello world!
</div>


<p><a href="#contents">Back to top</a></p>